<!--/* @thymesVar id="solicitacao" type="com.example.sgs.model.Solicitacao" */-->
<!--/*@thymesVar id="getNome" type="com.example.sgs.model.Solicitante"*/-->
<!--/*@thymesVar id="solicitante" type="com.example.sgs.model.Solicitante"*/-->
<!--/*@thymesVar id="categoria" type="com.example.sgs.model.Categoria"*/-->
<!--/*@thymesVar id="solicitacaoFiltros" type="com.example.sgs.filtro.SolicitacaoFiltros"*/-->

<h3>SGS - SISTEMA DE GESTÃO DE SOLICITAÇÕES</h3>

<div>
    <h4>Filtros:</h4>
    <form th:action="@{/solicitacao/listar}" method="get" th:object="${solicitacaoFiltros}" >
        <label>Solicitante:</label>
        <select th:field="*{solicitanteId}">
            <option value="">Selecione</option>
            <option th:each="solicitante : ${solicitanteList}"
                    th:value="${solicitante.id}"
                    th:text="${solicitante.nome}">
            </option>
        </select>

        <label>Categoria:</label>
        <select th:field="*{categoriaId}">
            <option value="">Selecione</option>
            <option th:each="categoria : ${categoriaList}"
                    th:value="${categoria.getId()}"
                    th:text="${categoria.getNome()}">
            </option>
        </select>

        <label>Status:</label>
        <select th:field="*{statusId}">
            <option value="">Selecione</option>
            <option th:each="status : ${statusSolicitacaoList}"
                    th:value="${status.getId()}"
                    th:text="${status.getDescricao()}">
            </option>
        </select>

        <br>

        <label>Data inicial solicitaçao:</label>
        <input type="date" th:field="*{dataInicialSolicitacao}">

        <label>Data final solicitação</label>
        <input type="date" th:field="*{dataFinalSolicitacao}">

        <button type="submit">Filtrar</button>
    </form>
</div>

<div th:if="${mensagem}">
    <p th:text="${mensagem}"></p>
</div>

<div>
    <a th:href="@{/solicitacao/nova}">
        Nova solicitação
    </a>
</div>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Solicitante</th>
            <th>CPF/CNPJ</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data solicitação</th>
            <th>Status</th>
            <th>Açoes</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="solicitacao: ${solicitacaoList}">
            <td th:text="${solicitacao.getId()}"></td>
            <td th:text="${solicitacao.getSolicitante().getNome()}"></td>
            <td th:text="${solicitacao.getSolicitante().getCPFOuCNPJ()}">></td>
            <td th:text="${solicitacao.getCategoria().getNome()}"></td>
            <td th:text="${solicitacao.getDescricao()}"></td>
            <td th:text="${solicitacao.getValor()}"></td>
            <td th:text="${solicitacao.getDataSolicitacaoFormatada()}"></td>
            <td th:text="${solicitacao.getStatus().getDescricao()}"></td>
            <td>
                <a th:href="@{/solicitacao/editar/{solicitacaoId}(solicitacaoId=${solicitacao.getId()})}">
                    Editar
                </a>
                <a th:href="@{/solicitacao/remover/{solicitacaoId}(solicitacaoId=${solicitacao.getId()})}">
                    Remover
                </a>
            </td>
        </tr>
    </tbody>
</table>
