<!--/* @thymesVar id="solicitante" type="com.example.sgs.model.Solicitante" */-->
<!--/* @thymesVar id="categoria" type="com.example.sgs.model.Categoria" */-->
<!--/* @thymesVar id="solicitacao" type="com.example.sgs.model.Solicitacao" */-->

<h3>Criar nova solicitacao</h3>

<ul>
    <li th:each="erro : ${erroList}"
        th:text="${erro}">
    </li>
</ul>

<form th:object="${solicitacao}"
      th:action="@{/solicitacao/cadastrar}"
      method="post">

    <label>Solicitante:</label><br>
    <select th:field="*{solicitanteId}">
        <option value="">Selecione</option>
        <option th:each="solicitante : ${solicitanteList}"
                th:value="${solicitante.getId()}"
                th:text="${solicitante.getNome()}">
        </option>
    </select><br><br>

    <label>Categoria:</label><br>
    <select th:field="*{categoriaId}">
        <option value="">Selecione</option>
        <option th:each="categoria : ${categoriaList}"
                th:value="${categoria.getId()}"
                th:text="${categoria.getNome()}">
        </option>
    </select><br><br>

    <label>Descrição:</label><br>
    <textarea th:field="*{descricao}" rows="1" cols="40"></textarea><br><br>

    <label>Valor:</label><br>
    <input type="number" th:field="*{valor}" ><br><br>

    <label>Data da Solicitação:</label><br>
    <input type="date" th:field="*{dataSolicitacao}"><br><br>

    <button type="submit">Salvar</button>

</form>